.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .jc-c {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .ai-c {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  body {
    height: 100vh;
    overflow: hidden;
  }
  
  #app {
    height: 100%;
  }
  
  .header {
    width: 100%;
    height: .88rem;
    background-color: #FFFFFF;
  }
  
  .header .title {
    position: relative;
    height: .88rem;
    -webkit-box-shadow: 0px 1px 0px #EBEBEB;
            box-shadow: 0px 1px 0px #EBEBEB;
  }
  
  .header .title h1 {
    line-height: .88rem;
    font-size: 18px;
  }
  
  .header .title h1 .vertical-arrow {
    width: .28rem;
    height: .28rem;
    display: inline-block;
    background: url(../images/icon/verticalArrow.png) center no-repeat;
    background-size: 100%;
  }
  
  .header .title h1 .vertical-arrow-reverse {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  
  .header .title .title-left {
    height: 100%;
    position: absolute;
    left: 0;
  }
  
  .header .title .title-left .touch-box {
    padding: .2rem .3rem;
    height: 100%;
  }
  
  .header .title .title-left .return {
    width: .48rem;
    height: .48rem;
    display: inline-block;
    background: url(./img/return.png) center no-repeat;
    background-size: 100%;
  }
  
  .header .title .title-right {
    height: 100%;
    padding-right: .2rem;
    position: absolute;
    right: 0;
  }
  
  .header .title .title-right .menu {
    position: relative;
  }
  
  .header .title .title-right .menu-box {
    width: 2.08rem;
    position: absolute;
    right: 0;
    z-index: 5;
  }
  
  .header .title .title-right .menu-box .triangle {
    border-left: .15rem solid transparent;
    border-top: .15rem solid transparent;
    border-right: .15rem solid transparent;
    border-bottom: .15rem solid #FFFFFF;
    position: absolute;
    top: -.3rem;
    right: .15rem;
  }
  
  .header .title .title-right .menu-box .menu-btn-group {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: .12rem;
    padding: .12rem 0;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  }
  
  .header .title .title-right .menu-box .menu-btn-group li {
    width: 100%;
    height: .88rem;
    line-height: .88rem;
    text-align: center;
    font-size: 16px;
    color: #333333;
  }
  
  .header .title .title-right .touch-box {
    padding: .2rem .1rem;
    height: 100%;
  }
  
  .header .title .title-right .write {
    width: .48rem;
    height: .48rem;
    display: inline-block;
    background: url(./img/write.png) center no-repeat;
    background-size: 100%;
  }
  
  .header .title .title-right .op-menu {
    width: .48rem;
    height: .48rem;
    display: inline-block;
    background: url(../images/icon/menu.png) center no-repeat;
    background-size: 100%;
  }
  
  .header .title .title-right .empty {
    line-height: .88rem;
    font-size: 16px;
    color: #0099FF;
  }
  
  .header .title .switch-tab {
    width: 2.08rem;
    background-color: #FFFFFF;
    position: absolute;
    top: .88rem;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 6px #EBEBEB;
            box-shadow: 0 0 6px #EBEBEB;
    z-index: 5;
  }
  
  .header .title .switch-tab .switch-tab-btn {
    width: 100%;
    height: .88rem;
    line-height: .88rem;
    font-size: 16px;
    text-align: center;
    -webkit-box-shadow: inset 0 -1px 0 #EBEBEB;
            box-shadow: inset 0 -1px 0 #EBEBEB;
    position: relative;
  }
  
  .header .title .switch-tab .switch-tab-btn .checked {
    width: .2rem;
    height: .2rem;
    display: inline-block;
    background: url(../images/icon/rightTick.png) center no-repeat;
    background-size: 100%;
    position: absolute;
    right: 0.1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  
  .header .title .switch-tab::after {
    content: '';
    -webkit-box-shadow: -2px -2px 3px #ebebeb;
            box-shadow: -2px -2px 3px #ebebeb;
    position: absolute;
    top: -.1rem;
    left: .84rem;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    border-top: .12rem solid #FFF;
    border-left: .12rem solid #FFF;
    border-right: .12rem solid transparent;
    border-bottom: .12rem solid transparent;
  }
  
  .search {
    height: 1.02rem;
    padding: .2rem .3rem;
  }
  
  .search .search-btn {
    width: 100%;
    background-color: #F5F6F8;
    border-radius: 41px;
    font-size: 14px;
    color: #B3B3B3;
    padding: .1rem 0;
  }
  
  .search .search-btn .search-icon {
    width: .36rem;
    height: .36rem;
    display: inline-block;
    background: url(./img/search.png) center no-repeat;
    background-size: 100%;
    margin-right: .1rem;
  }
  
  .content {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .content ul li {
    position: relative;
    -webkit-transition: all 0.25s ease-out 0s;
    transition: all 0.25s ease-out 0s;
  }
  
  .content ul li .type-icon {
    margin-left: .3rem;
    width: .8rem;
    height: .8rem;
    display: inline-block;
    background: url(../images/icon/drafts.png) center no-repeat;
    background-size: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: .08rem;
    position: relative;
  }
  
  .content ul li .type-icon .redDot {
    display: inline-block;
    vertical-align: top;
    width: 8px;
    height: 8px;
    background: #F33F34;
    border-radius: 50%;
    -webkit-transform: none;
            transform: none;
    position: absolute;
    right: -3px;
    top: -3px;
  }
  
  .content ul li .type-icon .folderRedDot {
    position: absolute;
    right: 3px;
    top: -1px;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    display: block;
    height: 18px;
    min-width: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 18px;
    padding: 0 2px;
    background: #F33F34;
    text-align: center;
    color: #FFF;
    border-radius: 9px;
    font-size: 9px;
  }
  
  .content ul li .folder {
    background: url(../images/icon/folder.png) center no-repeat;
    background-size: 100%;
  }
  
  .content ul li .notice {
    background: url(../images/icon/notice.png) center no-repeat;
    background-size: 100%;
  }
  
  .content .folder {
    position: relative;
  }
  
  .content .folder .body {
    width: 100%;
    margin-left: .2rem;
    padding: .46rem 0;
    padding-right: .3rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: inset 0px -1px 0px #EBEBEB;
            box-shadow: inset 0px -1px 0px #EBEBEB;
  }
  
  .content .folder .body .body-left {
    font-size: 16px;
    color: #333333;
  }
  
  .content .folder .body .body-right {
    font-size: 13px;
    color: #B3B3B3;
  }
  
  .content .folder .body .body-right .enter {
    width: .28rem;
    height: .28rem;
    display: inline-block;
    background: url(../images/icon/enter.png) center no-repeat;
    background-size: 100%;
  }
  
  .content .folder .opration-box {
    height: 100%;
    position: absolute;
    top: 0;
    right: -3.36rem;
  }
  
  .content .folder .opration-box .gray {
    width: 1.12rem;
    height: 100%;
    background-color: #C4C9CC;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .content .folder .opration-box .modification {
    width: 1.12rem;
    height: 100%;
    background-color: #FF9500;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .content .folder .opration-box .red {
    width: 1.12rem;
    height: 100%;
    background-color: #FF3B30;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .content .folder .cancel-top {
    right: -4rem;
  }
  
  .content .folder .cancel-top .gray {
    width: 1.76rem;
  }
  
  .content .folder .right4 {
    right: -4rem;
  }
  
  .content .folder .right336 {
    right: -3.36rem;
  }
  
  .content .item .body {
    width: 100%;
    margin-left: .2rem;
    padding: .28rem 0;
    padding-right: .3rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: inset 0px -1px 0px #EBEBEB;
            box-shadow: inset 0px -1px 0px #EBEBEB;
  }
  
  .content .item .body .body-left {
    width: 3.4rem;
  }
  
  .content .item .body .body-left h3 {
    font-size: 16px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .content .item .body .body-left .author {
    font-size: 13px;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .content .item .body .body-right {
    white-space: nowrap;
    font-size: 13px;
    color: #B3B3B3;
  }
  
  .content .item .opration-box {
    height: 100%;
    position: absolute;
    top: 0;
    right: -5.12rem;
  }
  
  .content .item .opration-box .gray {
    width: 1.12rem;
    height: 100%;
    background-color: #C4C9CC;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .content .item .opration-box .blue {
    width: 1.12rem;
    height: 100%;
    background-color: #3E9CFA;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .content .item .opration-box .orange {
    width: 1.12rem;
    height: 100%;
    background-color: #FF9500;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .content .item .opration-box .unread {
    width: 1.76rem;
    height: 100%;
    background-color: #FF9500;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .content .item .opration-box .red {
    width: 1.12rem;
    height: 100%;
    background-color: #FF3B30;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .content .item .cancel-top {
    right: -5.76rem;
  }
  
  .content .item .cancel-top .gray {
    width: 1.76rem;
  }
  
  .content .item .right4 {
    right: -4rem;
  }
  
  .content .item .right336 {
    right: -3.36rem;
  }
  
  .content .mine-item .body {
    width: 100%;
    margin-left: .2rem;
    padding: .28rem 0;
    padding-right: .3rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: inset 0px -1px 0px #EBEBEB;
            box-shadow: inset 0px -1px 0px #EBEBEB;
  }
  
  .content .mine-item .body .body-left {
    width: 3.4rem;
  }
  
  .content .mine-item .body .body-left h3 {
    font-size: 16px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .content .mine-item .body .body-left .author {
    font-size: 13px;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .content .mine-item .body .body-right {
    white-space: nowrap;
    font-size: 13px;
    color: #B3B3B3;
  }
  
  .content .mine-item .opration-box {
    height: 100%;
    position: absolute;
    top: 0;
    right: -3.36rem;
  }
  
  .content .mine-item .opration-box .gray {
    width: 1.12rem;
    height: 100%;
    background-color: #C4C9CC;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .content .mine-item .opration-box .blue {
    width: 1.12rem;
    height: 100%;
    background-color: #3E9CFA;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .content .mine-item .opration-box .orange {
    width: 1.12rem;
    height: 100%;
    background-color: #FF9500;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .content .mine-item .opration-box .unread {
    width: 1.76rem;
    height: 100%;
    background-color: #FF9500;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .content .mine-item .opration-box .red {
    width: 1.12rem;
    height: 100%;
    background-color: #FF3B30;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .content .mine-item .cancel-top {
    right: -4rem;
  }
  
  .content .mine-item .cancel-top .gray {
    width: 1.76rem;
  }
  
  .content .mine-item .right4 {
    right: -4rem;
  }
  
  .content .mine-item .right336 {
    right: -3.36rem;
  }
  
  .content .mine-item .two {
    right: -2.24rem;
  }
  
  .content .mine-item .two-ct {
    right: -2.88rem;
  }
  
  .content .drafts .body {
    width: 100%;
    margin-left: .2rem;
    padding: .28rem 0;
    padding-right: .3rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: inset 0px -1px 0px #EBEBEB;
            box-shadow: inset 0px -1px 0px #EBEBEB;
  }
  
  .content .drafts .body .body-left {
    width: 3.4rem;
  }
  
  .content .drafts .body .body-left h3 {
    font-size: 16px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .content .drafts .body .body-left .author {
    font-size: 13px;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .content .drafts .body .body-right {
    white-space: nowrap;
    font-size: 13px;
    color: #B3B3B3;
  }
  
  .content .drafts .opration-box {
    height: 100%;
    position: absolute;
    top: 0;
    right: -1.12rem;
  }
  
  .content .drafts .opration-box .red {
    width: 1.12rem;
    height: 100%;
    background-color: #FF3B30;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .top-token {
    width: .65rem;
    height: .35rem;
    border: 1px solid #999999;
    font-size: 12px;
    color: #999999;
    border-radius: 4px;
    margin-left: .1rem;
    white-space: nowrap;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  
  .end {
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 13px;
    color: #999999;
  }
  
  .nocontent {
    height: 100%;
    color: #999999;
  }
  
  .fade-enter-active, .fade-leave-active {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  .fade-enter, .fade-leave-to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  /*# sourceMappingURL=inbox.css.map */